<!-- <div class="container mt-4">
  <div class="gallery">
    <div class="art-tile" *ngFor="let artwork of artworks" (click)="openDetails(artwork)">
      <div class="d-flex">
        <img [src]="artwork.published_image.iiifthumburl" alt="{{ artwork.title }}">
      </div>
      <div class="image-info d-flex justify-content-center">
        <span>{{artwork.object.title}}</span>
      </div>
    </div>
  </div>
</div> -->

<div class="container mt-4 col-md-12">
    <div class="row mb-4 align-items-center filter-container">
        <div class="col-md-8">
            <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Artworks" [(ngModel)]="searchQuery" (keydown.enter)="searchArtworks()">
            <button class="btn btn-outline-secondary" type="button" (click)="searchArtworks()">
                <i class="pi pi-search"></i>
            </button>
            </div>

        </div>
        <div class="col-md-4 text-right">
            <button pButton type="button" label="Filter Artworks" icon="pi pi-filter" class="btn btn-primary"
                    (click)="openFilterModal()"></button>
        </div>
    </div>
  <ngx-masonry>
    <div ngxMasonryItem *ngFor="let artwork of filteredArtworks" (click)="openDetails(artwork)">
      <div class="art-tile">
        <img [src]="artwork.published_image.iiifthumburl" alt="{{ artwork.title }}">
        <div class="image-info d-flex justify-content-center">
          <span>{{artwork.object.title}}</span>
        </div>
      </div>
    </div>
  </ngx-masonry>
  <app-filter-modal (filtersApplied)="applyFilters($event)"></app-filter-modal>
</div>

<p-sidebar [(visible)]="sidebarVisible" position="right" styleClass="w-30rem" (onHide)="closeDetails()">
  <div *ngIf="selectedArtwork">
    <img [src]="selectedArtwork.imageUrl" alt="{{ selectedArtwork.title }}" class="full-image frame mb-3">
    <h2>{{ selectedArtwork.title }}</h2>
    <hr>
    <p><strong>Artist:</strong> {{ selectedArtwork.artist }}</p>
    <hr>
    <p>{{ selectedArtwork.overview }}</p>
    <hr>
    <p><strong>Release date</strong> {{selectedArtwork.releaseDate | date}} </p>
  </div>
</p-sidebar>
